$family-primary-bold: "Font Primary Bold";
$family-secondary: "Font Secondary";
$family-secondary-light: "Font Secondary Light";

@font-face {
	font-family: "Font Secondary";
	src: url("./assets/fonts/FontSecondary-Regular.eot");
	src: url("./assets/fonts/FontSecondary-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/FontSecondary-Regular.woff2") format("woff2"),
		url("./assets/fonts/FontSecondary-Regular.woff") format("woff"),
		url("./assets/fonts/FontSecondary-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Font Secondary Light";
	src: url("./assets/fonts/FontSecondary-Light.eot");
	src: url("./assets/fonts/FontSecondary-Light.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/FontSecondary-Light.woff2") format("woff2"),
		url("./assets/fonts/FontSecondary-Light.woff") format("woff"),
		url("./assets/fonts/FontSecondary-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Font Primary";
	src: url("./assets/fonts/FontPrimary-Regular.eot");
	src: url("./assets/fonts/FontPrimary-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/FontPrimary-Regular.woff2") format("woff2"),
		url("./assets/fonts/FontPrimary-Regular.woff") format("woff"),
		url("./assets/fonts/FontPrimary-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Font Primary Bold";
	src: url("./assets/fonts/FontPrimary-Bold.eot");
	src: url("./assets/fonts/FontPrimary-Bold.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/FontPrimary-Bold.woff2") format("woff2"),
		url("./assets/fonts/FontPrimary-Bold.woff") format("woff"),
		url("./assets/fonts/FontPrimary-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
