$family-primary-bold: 'Proto Grotesk Web Bold';
$family-secondary: 'Minotaur Sans';
$family-secondary-light: 'Minotaur Sans Light';

@font-face {
  font-family: 'Minotaur Sans';
  src: url('./assets/fonts/MinotaurSans-Regular.eot');
  src: url('./assets/fonts/MinotaurSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/MinotaurSans-Regular.woff2') format('woff2'),
  url('./assets/fonts/MinotaurSans-Regular.woff') format('woff'),
  url('./assets/fonts/MinotaurSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minotaur Sans Light';
  src: url('./assets/fonts/MinotaurSans-Light.eot');
  src: url('./assets/fonts/MinotaurSans-Light.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/MinotaurSans-Light.woff2') format('woff2'),
  url('./assets/fonts/MinotaurSans-Light.woff') format('woff'),
  url('./assets/fonts/MinotaurSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proto Grotesk Web';
  src: url('./assets/fonts/ProtoGroteskWeb-Regular.eot');
  src: url('./assets/fonts/ProtoGroteskWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/ProtoGroteskWeb-Regular.woff2') format('woff2'),
  url('./assets/fonts/ProtoGroteskWeb-Regular.woff') format('woff'),
  url('./assets/fonts/ProtoGroteskWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proto Grotesk Web Bold';
  src: url('./assets/fonts/ProtoGroteskWeb-Bold.eot');
  src: url('./assets/fonts/ProtoGroteskWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/ProtoGroteskWeb-Bold.woff2') format('woff2'),
  url('./assets/fonts/ProtoGroteskWeb-Bold.woff') format('woff'),
  url('./assets/fonts/ProtoGroteskWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

